{% extends "base.html" %}
{% block title %}회원가입{% endblock %}
{% block content %}
<h2>회원가입</h2>
<div class="signup-wrapper">
    <form action="/signup" method="POST">
        <div id="signup-box"><label id="label-box" for="ID:">ID:<input id="singnup-input" type="text"
                    name="user_id" /></label></div>
        <div id="signup-box"><label id="label-box" for="PW:">PW:<input id="singnup-input" type="password"
                    name="password" /></label>
        </div>
        <div id="signup-box"><label id="label-box" for="NAME:">NAME:<input id="singnup-input" type="text"
                    name="username" /></label>
        </div>
        <div id="signup-box">
            <label id="label-box" for="SEX:">
                SEX: <select id="singnup-input" style="width: 12.6vw;" name="sex">
                    <option value="">SELECT</option>
                    <option value="male">MALE</option>
                    <option value="female">FEMALE</option>
                </select>
            </label>
        </div>
        <div id="signup-box">
            <label id="label-box" for="TEAM:">
                TEAM:<select id="singnup-input" style="width: 12.6vw;" name="team">
                    <option value="">SELECT</option>
                    <option value="male">RED</option>
                    <option value="female">BLUE</option>
                </select>
            </label>
        </div>
        <div id="signup-box"><label id="label-box" for="ROOM:">ROOM:<input id="singnup-input" type="text"
                    name="room" /></label></div>
        <div id="signup-box"><label id="label-box" for="PHONE:">PHONE:<input id="singnup-input" type="text" name="phone"
                    placeholder="숫자만 입력해 주세요" /></label></div>
        <div id="signup-box">
            <button id="signup-button" type="submit">가입하기</button>
            <a href="/"><button id="signup-button" style="background-color:grey" type="button">돌아가기</button></a>
        </div>
    </form>

</div>
{% endblock %}